@model List<EmployerViewModel>

@foreach (var item in Model)
{   
    <div>
        <table>
            <thead>
                <th>CompanyName</th>
              
            </thead>
            <td>@item.CompanyName</td>
        </table>
        
        </div>
}